.inputArea {
	margin: .75em 1em;
	line-height: 1.0;
}

.hitcount {
	margin: .75em 1em;
	line-height: 1.0;
}

.results {
  width: 95%;
	margin: .75em .2em .1em .3em;
	line-height: 1.0;
}

.highlight {
  background-color: rgba(230,230,50,1);
}

.stickynote {
  border: 1pt;
  margin: 10pt;
  cursor: pointer;
  border-style: solid;
  margin: 3pt;
}

.stickynote-selected {
  border: 2pt;
  border-color: #00f;
  background: rgba(0,0,2,0.1);
  margin: 10pt;
  cursor: pointer;
  border-style: solid;
  margin: 3pt;
}

.citation {
	color: #777;
  font-size: 75%;
  padding: 5pt;
}

.header {
  position: fixed;
  width: 100%;
  height: 5%;
  top: 0;
  left: 0;
}

.header h1 {
  margin: 1em 0 0 1em;
}

.header img {
  height: 80%;
}

.footer {
  position: fixed;
  width: 100%;
	height: 5%;
  bottom: 0;
  left: 0;
}

.footer pp {
  margin: 1em 0 0 1em;
  position: fixed;
}

.main {

  background: #fff;
  position: absolute;
  width: 100%;
  top: 3em;
  left: 0;
  bottom: 5em;
}

.leftTop {
  position: absolute;
  width: 30%;
  height: 10%;
  left: 0;
  top: 0;
  overflow: scroll;
}

.header img {
  height: 30%;
  width: auto;
}


.leftBottom {
  background: #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 90%;
  overflow: scroll;
}

.paragraph {
  font-style: italic;
  font-size: 10pt;
  padding: 0pt 3pt 0pt 8pt;
}

.acks {
  margin: 1em 0 0 1em;
}

.right {
  background: #eee;
  position: absolute;
  /* margin-left: 30%; take care of the hanging title, mess up on the right */
  right: 0;
  top: 0;
  width: 60%;
  height: 90%;
  padding: 5%;
  overflow: scroll;
}

